<app-header-tab></app-header-tab><!--Introducimos nuestro componente header-->

<ion-content>
  <!--Creamos nuestra con la etiqueta Ion-card nuestro elemento a mostrar en la página y 
    a través de ngFor crearemos un bucle que recorrerá nuestro array de noticias seleccionadas. 
    Para obtener el array de noticias seleccionadas, llamaremos a la función getDatosArchivoSegundaPagina de nuestro servicio-->
  <ion-card *ngFor = "let articulo of gestionDatos.getDatosArchivoSegundaPagina()">
  
    <ion-card-header> <!--Le ponemos un encabezamiento a nuestro elemento ion card-->
      <ion-card-title>{{articulo.source.name}}</ion-card-title>
      <br>
      <ion-card-title><b>{{articulo.title}}</b></ion-card-title>  
    </ion-card-header>

    <ion-card-content> <!-- El cuerpo de nuestro elemento ion -card-->
      <ion-img src="{{articulo.urlToImage}}"></ion-img> <!--La imagen que vamos a insertar. Es un elemento que varía en función del articulo selecciionado en el array-->
      <p>
        {{articulo.description}} <!--La descripción también será variable en función de la contenida en los artículos-->
      </p >

      <!--Introducimos una tabla para dar formato-->
      <table width="100%">
        <tr>
          <td>
            <a href="{{articulo.url}}" large>Leer</a> <!--Mediante href mandaremos a la página web contenida en cada artículo-->
          </td>
          <td align= right>
            <!--Creamos un icono con la etiqueta ion-icon que pondremos los atributos slot, para posición "end" = derecha; name, para el icono
           y le añadimos el atributo click , que nos indica que al pulsar nos llevará a la función onClick de tab2.page.ts y le mandará la variable título-->
            <ion-icon slot ="end" name = "trash" (click) = "onClick(articulo)"></ion-icon>
          </td>
        </tr>
      </table>
    </ion-card-content>
  </ion-card>
</ion-content>